.backg {
  background-color: rgb(92, 131, 116);
  margin: 0;
  padding: 0;
  height: auto;
}

.floating {
  animation: floating 3s infinite ease-in-out;
}

.containerdos {
  margin: 10px;
  padding: 40px;
}
