#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar-header {
  background-color: #040d12;
}

.titulo {
  cursor: pointer;
}

.dropdown-navbar {
  color: #ff0000 !important;
}

footer {
  margin-top: auto;
}
