#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.titulo-page-login {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}

.subtitulo-page-login {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.fuente-boton-social{
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px !important;
  font-weight: bold !important;
  color: #757575 !important
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bgLogin{
  background-image: url(/public/fondoLogin.png);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}